[bumpversion]
current_version = 2.0.3a2
parse = 
	(?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(a(?P<dev>\d+))?
serialize = 
	{major}.{minor}.{patch}a{dev}
	{major}.{minor}.{patch}
commit = True
allow_dirty = False
tag = True

[bumpversion:part:dev]

[bumpversion:file:src/biglib/__init__.py]

