*.Z
*.a
*.aux
*.bak
*.bzip2
*.class
*.dvi
*.ear
*.egg-info/
*.err
*.fls
*.gz
*.idea
*.iml
*.ipr
*.iws
*.jar
*.lof
*.log
*.lot
*.o
*.orig
*.out
*.pdf
*.ps
*.pyc
*.saved
*.so
*.tar
*.tgz
*.toc
*.war
*.zip
*~
.*.marks
.*.sw?
.*~
.DS_Store
.classpath
.gradle
.idea
.m2
.metadata
.mvn
.project
.pyenv/
.settings
.svn
.tox
.venv/
CVS
FindBugsExcludeFilter.xml
Makefile
__pycache__/
application.properties
atlassian-ide-plugin.xml
bin/
build/
cscope.*
dist/
err.err
gradle
gradlew
gradlew.bat
master.properties
out
package-lock.json
pyenv/
target
venv/
**/version.py
